<section class="container mt-3 mb-3">
  <div class="card">
    <div class="card-header">
      <h3> Order Summary</h3>
    </div>
    <div class="card-body row d-flex justify-content-between">
      <div class="col-6">
        <h5 class="card-title">Cart Detail</h5>
        <table class="table table-hover text-right">
          <thead>
            <tr>
              <th scope="col">Sr.No</th>
              <th scope="col">Name</th>
              <th scope="col">Category</th>
              <th scope="col">Quantity</th>
              <th scope="col">Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of dispcartlist; let i = index">
              <th scope="row">{{ i+1 }}</th>
              <td>{{ item.product.Name }}</td>
              <td>{{ item.product.Category }}</td>
              <td>{{ item.cart.Quantity }}</td>
              <td>{{ item.cart.Quantity * item.product.Price | currency: 'INR' }}</td>
            </tr>
            <tr>
              <td colspan="4"></td>
              <td><b>Total: {{ total | currency: 'INR' }}</b></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-4">
        <h5 class="card-title">Delivery Detail</h5>
        <p class="card-text" style="color:rgb(121, 122, 122)">
          <b>Name : </b>{{userdetail.name}}<br>
          <b>EmailId : </b>{{userdetail.email}}<br>
          <b>Address : </b>{{userdetail.address}}<br>
          <b>Payment Mode: </b>UPI <br>
          <b>UPI Id : </b>{{userdetail.upiId}}
        </p>
        <button class="btn btn-success mt-4 form-control " style="font-size: 20px;"
        data-toggle="modal" data-target="#exampleModalCenter">Place Order <i class="fa fa-truck"></i></button>
      </div>
    </div>
  </div>
</section>

<!--OTP Model-->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">OTP Validation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        OTP: <input type="number" class="form-control" [(ngModel)]="userOTP">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="checkOTP()">Submit</button>
      </div>
    </div>
  </div>
</div>