<section class="container">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-12" *ngFor="let item of items | paginate: { id: 'foo',
        itemsPerPage: pageSize,
        currentPage: p,
        totalItems: collectionsize }">
            <div class="cards">
                <div class="cards-data mb-2" (click)="goToDetails(item.id)">
                    <div class="imagediv">                        
                        <img [src]="item.Image" [alt]="item.Name">
                    </div>
                    <h3>{{item.Name}}</h3>
                    <span class="rating" *ngIf="item.Category == 'Movie'; else Book">IMDB:
                        {{item.Rating | number: '1.1-2'}} <i class="fa fa-star" aria-hidden="true"></i></span>
                    <ng-template #Book><span class="rating">GoodReads:
                            {{item.Ratings | number: '1.1-2'}} <i class="fa fa-star"
                                aria-hidden="true"></i></span>
                    </ng-template>

                    <p>{{item.Price | currency:'INR' }}</p>
                    <span *ngIf="item.Quantity < 4 && item.Quantity > 0" class="text-danger font-weight-bold">
                        Hurry up Only few left!!!!
                    </span><br/>
                </div>
                <div class="cards-btn d-flex">                
                        <button *ngIf="item.Quantity > 0" class="btn btn-success btn-block" (click)="addToCart(item)">Add to cart <i
                            class="fa fa-shopping-cart"></i></button>                                       
                        <span *ngIf="item.Quantity == 0" class="btn btn-dark btn-block">Out Of Stoke</span>                    
                    <span class="fav" (click)="addToWishlist(item.id)" ><i class="fa fa-heart"></i></span>
                </div>
            </div>
        </div>
        <div class="col-12 text-center mt-3">
            <pagination-controls id="foo" maxSize="5" directionLinks="true" (pageChange)="p = $event">
            </pagination-controls>
        </div>
    </div>
</section>